.admin__container {
    width: 700px;
    margin: 0 auto;
}

.admin__form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .admin__container {
        width: 300px;
    }

    .admin__form {
        flex-direction: column;
        align-items: baseline;
    }

    .admin__label-unit {
        margin: 8px 0;
    }
}

.admin__button {
    width: 90px;
    height: 40px;
    margin: 20px auto;
    border: none;
    border-radius: 2px;
    background-color: #f55;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .admin__button {
        margin: 20px auto 40px;
    }
}

.admin__comment-block {
    margin-bottom: 40px;
}

.admin__label {
    margin-right: 16px;
}

.admin__heading {
    margin-bottom: 40px;
    font-size: 20px;
}

.admin__subheading {
    margin: 10px 0;
}

.admin__comment-area {
    width: 70%;
    margin: 20px auto;
}

.admin__message {
    margin-bottom: 30px;
    color: red;
    font-size: 16px;
    font-weight: bold;
}