.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: #000;
}

.header__logo {
    width: 210px;
}

.header__search {
    width: 220px;
    height: 30px;
    padding: 0 20px;
    border: none;
    border-radius: 2px;
}

.header__search::placeholder {
    color: #000;
}


.header__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
}

.header__link-item {
    list-style-type: none;
}

.header__link-item a {
    text-decoration: none;
    color: #fff;
}

.header__link-button {
    padding: 4px 12px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
}

.header__link-button a {
    font-size: 15px;
    color: #000;
}