.purchase__item-info {
    display: flex;
}

.purchase__name {
    margin-bottom: 60px;
    font-size: 22px;
}

.purchase__price {
    font-size: 18px;
}

.purchase__item-detail {
    margin-left: 80px;
}

.purchase__payment-select {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 120px;
}

.purchase__wrapper {
    width: 450px;
}

.purchase__payment-info {
    margin-bottom: 60px;
    padding: 50px 20px 0 30px;
    border: #000 1px solid;
}

.purchase__payment-info li {
    list-style: none;
    margin-bottom: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.purchase__payment-detail {
    display: inline-block;
    width: 110px;
}

.purchase__payment-address {
    margin: 8px 0 0 115px;
}

/* .contents {
    opacity: 0;
    transition-duration: 0.2s;
}

.contents-item {
    margin: 10px 0;
}

.contents.is-open {
    padding: 5px;
    opacity: 1;
} */
/* .menu {
    width: 420px;
} */
.purchase__link {
    text-align: end;
    text-decoration: none;
    color: #0073cc;
    cursor: pointer;
}