.purchase__item-info {
    display: flex;
}

.purchase__name {
    margin-bottom: 60px;
    font-size: 22px;
}

.purchase__price {
    font-size: 18px;
}

.purchase__item-detail {
    margin-left: 60px;
}

.purchase__payment-select {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 120px;
}

.purchase__wrapper {
    width: 450px;
}

.purchase__payment-info {
    margin-bottom: 60px;
    padding: 50px 20px 0 30px;
    border: #000 1px solid;
}

.purchase__payment-info li {
    list-style: none;
    margin-bottom: 40px;
}

.purchase__payment-detail {
    display: inline-block;
    width: 110px;
}

.purchase__payment-address {
    margin: 8px 0 0 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.purchase__link {
    text-align: end;
    text-decoration: none;
    color: #0073cc;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .purchase__name {
        margin-bottom: 60px;
        font-size: 16px;
    }

    .purchase__item-detail {
        margin-left: 20px;
    }

    .purchase__payment-select {
        margin: 40px 0;
    }

    .purchase__payment-detail {
        width: 90px;
    }

    .purchase__payment-address {
        margin: 8px 0 0 95px;
    }

    .purchase__wrapper {
        width: 100%;
    }

    .purchase__payment-info {
        padding: 40px 20px 0;
        font-size: 14px;
    }

    .purchase__link {
        font-size: 14px;

    }
}